h1, p {
    font-family: 'Poiret One', cursive;
}

.outer-darkness {
    background-color: white;
    display: flex;
    align-content: center; 
    height: 100vh;
    

}
.tel {
    height: 770px;
    width: 770px;
    border: 1px solid gray;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    display: flex;
    align-content: center; 
    
    /*color: white;*/
   
}
/*.tel h1 {
    font-size: 100px;
}*/
.ter {
    height: 470px;
    width: 470px;
    border: 1px solid gray;
    border-radius: 50%;
    margin: auto;
     display: flex;
    align-content: center;
    
}
.cel {
    height: 150px;
    width: 150px;
    border: 1px solid gray;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    
}
.cel h1 {
    font-size: 30px;
    color: white;
    margin-top: 50px;

}
.orangeD {
    background-color: #FF6B00;
}
.orangeM {
    background-color: #FF9400;
}
.orangeL {
    background-color: #FFD499;
}
.tan {
    background-color: #E9E2D6;
}
.ocean {
    background-color: #055579;
}
#bigFoto {
    height: 50px;
    width: 80px;
}